<!-- templates/allusers.html -->
{% extends 'links.html' %}

{% block title %}All Users{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Viewing all users as {{ user.username }}:<br><br>
    {% for u in all %}
        <a href='{{ u.get_absolute_url }}'>{{u.username}} {{ u.printRoles }}</a><br>
    {% endfor %}
    <p><a href="../home">home</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
      <p><a href="/home">web interface</a> ||
  <a href="../">command line</a></p>
{% endblock %}
