{% load staticfiles %}
        <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scheduling App</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    {% block content %}{% endblock content %}
    {% block links %}
  <p><a href="{% url 'logout' %}">logout</a> ||
  <a href="../users/allusers.html">show all users</a> ||
    <a href="../users/createaccount.html">create new user</a> ||
  <a href="{%  url 'contactInfo' %}">contact info</a></p>
  <p><a href="/home">web interface</a> ||
  <a href="../">command line</a></p>
    {% endblock links %}
</body>
</html>