<!-- Display course information -->
{% extends 'links.html' %}

{% block content %}
{% if user.is_authenticated %}
     {% csrf_token %}
    <h2><b>Course: </b> {{ course.courseName}}<br></h2>
    <b>Department: </b> {{ course.department}}<br>
    <b>Course Number: </b> {{ course.courseNumber}}<br>
    <b>Instructor: </b> {{ course.instructor.username}}<br><br>

    <div class="table_container">
        <table class = "center">
            <tr>
                <th>TA</th>
                <th>Grader Status</th>
                <th>Number of Labs</th>
            </tr>
            {% for ta in course.TAs.all %}
            <tr>
                <td>{{ ta }}</td>
                <td>
                    {% if ta.graderStatus == True %}Yes{% endif %}
                    {% if ta.graderStatus == False %}No{% endif %}&nbsp;
                </td>
                <td>
                   {{ ta.numberOfLabs }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class ="table_container">
        <table class = "center">

            <tr>
                <th>Lab Section</th>
                <th>Assigned TA</th>
            </tr>
            {% for lab in course.labs.all %}
            <tr>
                <td>{{ lab }}&nbsp;</td>
                {% for x in lab.TAs.all %}
                <td>{{ x }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <form action="/createLab/{{ course.courseName }}">
        <input type = "submit" value = "Create a New Lab" />
    </form>

{% endif %}
{% endblock %}