<!-- templates/editaccount.html -->
{% extends 'links.html' %}

{% block title %}Edit Account{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Editing account as {{ user.printRoles }}:
    {% if not auth %}
        <p>Permission denied - Your role may not edit accounts of this type!</p>
    {% elif edit %}
        <p>Account edited successfully.</p>
    {% endif %}
    {% if ok %}
        <p>{{ message }}</p>
        <form method="post" action="/users/editaccount/{{eUser.username}}">
            {% csrf_token %}
            Username: <input id="username" type="text" name="username" value={{ eUser.username }}><br>
            Password: <input id="password" type="text" name="password" value="<hashed password>"><br>
            Roles: <input id="roles" type="number" name="roles" min = 0 max = 15 value={{ eUser.roles }}><br>
            [Numerical: 1 - TA; 2 - Instructor; 4 - Administrator; 8 - Supervisor]<br>
            [0 - no permission; Sum for multiple permission e.g. 3 - TA/Instructor]<br>
            <input type="submit" value="Submit">
        </form>
    {% else %}
      <p>You do not have permission to create accounts.</p>
    {% endif %}
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}