<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a><br/>
  <a href="../users/allusers.html">show all users</a><br/>
  <a href="{%  url 'contactInfo' %}">contact info</a></p><br/>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
      <p><a href="/home">web interface</a> ||
  <a href="../">command line</a></p>
{% endblock %}
