<!-- templates/home.html -->
{% extends 'links.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi, {{ user.username }}!
  <p><a href="{% url 'allUsers' %}">show all users</a><br/>
      <a href="{% url 'AllCourses' %}">All Courses</a><br/>
  <a href="{% url 'createAccount' %}">create new user</a><br/>
      <a href="{% url 'createCourse' %}">Create New Course</a><br/>
  <a href="{{ user.get_absolute_url }}">contact info</a><br/>
  <a href="{% url 'logout' %}">logout</a><br/></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
