{% load staticfiles %}
        <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scheduling App</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<ul class = "horizontal">

{% if user.is_authenticated %}
    <li style = "float:left"><a href="{% url 'start' %}">Command Line</a></li>
    <li style = "float:left"><a href="{% url 'home'  %}">Home</a></li>
    <li style = "float:left"><a href="{% url 'allUsers' %}">Show All Users</a> </li>
    <li style = "float:left"><a href="{% url 'AllCourses' %}">All Courses</a></li>
    <li style = "float:left"><a href="{% url 'createAccount' %}">Create New User</a></li>
    <li style = "float:left"><a href="{% url 'createCourse' %}">Create New Course</a></li>

    <li style = "float:right" class="active"><a href="{% url 'logout' %}">Logout</a></li>
    <li style = "float:right"><a href="{% url 'editMyAccount' %}">Account</a></li>

{% else %}
    <li style = "float:left"><a href="{% url 'start'  %}">Command Line</a></li>
    <li style = "float:left"><a href="{% url 'home'  %}">Home</a></li>
    <li style = "float:right" class="active"><a href="{% url 'login' %}">Login</a></li>

{% endif %}

</ul>

<div id = "centerDiv" name="centerDiv">
    {% block content %}{% endblock content %}
</div>
</html>