{% load staticfiles %}
        <!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scheduling App</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<ul>
    <li><a href="../">Command Line</a></li>
    <li><a href="/home">Home</a></li>
</ul>

<div id = "centerDiv" name="centerDiv">
    {% block content %}{% endblock content %}
</div>
</html>