<!-- templates/home.html -->
{% extends 'links.html' %}

{% block title %}Contact Info{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Viewing {{ user.username }}:<br>
        Name: {{user.contactinfo.name}}<br>
        Email: {{ user.contactinfo.email }}<br>
        Office Hours: {{ user.contactinfo.officeHours }}<br>
        Office Number: {{ user.contactinfo.officeNumber }}<br>
{% else %}
  <p>You are not logged in.</p>
  <a href="{% url 'login' %}">login</a> |
  <a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}
